.cart img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: contain;
}

.cart .product {
  border-bottom: 1px solid #444;
  padding: 16px 0;
  position: relative;
}

.product .remove {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.875rem;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1rem;
  transition: all 0.3s ease;
}

.cart-button:hover {
  scale: 1.1;
}
